//The root for some resuable variables
:root{
    --h3 : calc((1.8rem) + 1.3vw);
    --h4 : calc((1rem) + 1.3vw);
};

//The mixing for the reusable proprieties
@mixin centerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin sizes($w, $h) {
    width: $w;
    height: $h;
};

//The typography variables


//The boxe that contains quotes contents and the controls buttons
.quote-boxe {
    /*height: 100%;
    width: auto;*/
    @include sizes(auto,100% );
    background: red;
    text-align: center;
};
.content {
    
    //background-color: rgb(183, 196, 11);
    @include sizes(100%,100% );
    @include centerFlex();
    //justify-content: space-evenly;

    /*display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(auto, auto));
    gap: 0.5%;
    align-items: center;
    justify-items: center;
    */


    .quote {
        @include sizes(94%,auto );
        background: whitesmoke;
        font-size: var(--h3);
        padding: 2% 0.5% 1%;
        border-top-left-radius: 15%;
        border-top-right-radius: 15%;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;



    };
    .author{
        padding: 0.5% 1% 1%;
        @include sizes(auto,auto );
        background: whitesmoke;
        font-size: var(--h4);
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
    }

};
.controls{
    position: fixed;
    /*width: auto;
    height: auto;*/

    //width: 100%;
    //height: 100%;
    z-index: 10;
    //@include centerFlex();
    //margin :2%;
    top : 2%;
    left :2%;
    right : 2%;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, auto));
    grid-template-rows: 1fr;
    gap: 2%;
    //background-color: rgb(126, 239, 243);
    //grid-area : 2/1/3/2;
    /*a*/.tweet {
        //width : auto;
        display: inline;
        font-size: var(--h4);
        background: whitesmoke;
    };
    .new-quote{
        //width : auto;
        display: inline;
        font-size: var(--h4);
    };

}
